<div id="<%= dom_id category %>" class= 'category'>
  <%= image_tag("icons/#{category.icon}", class: 'category-icon') %>

  <div class= 'category-name'>
    <p><%= category.name %></p>
    <p class= 'category-date'><%= category.created_at.strftime('%d %b %Y') %></p>
  </div>

  <p class= 'category-amount'>
    $<%= total_amount(category)%>
  </p>
</div>
