<div class='blue-header header-large'>
  <%= link_to image_tag('left-arrow.png'), user_categories_path(user_id: current_user.id, id:@category.id), class: 'back-btn' %>
  <h1> Category details </h1>
  <%= link_to "Edit", edit_user_category_path(user_id: current_user.id, id:@category.id), class: 'login-btn' %>
</div>
<div class= 'category-details'>
  <%= render @category %>
  <%= link_to "See records for this category", user_category_records_path(user_id: current_user.id, category_id:@category.id), class:'link' %>
  <%= link_to "Destroy this category", user_category_path , data: {turbo_method: :delete}, class:'link' %>
</div>
